<header class="header">
    <nav id="side-nav">
        <div class="burger">
            <div id="toggle-btn">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="brand">
                <h4>Brand<span style="color:#f38e42">Builder</span></h4>
            </div>
        </div>
        <ul class="nav-link">
            <li><a href="/dashboard"><span><i class="fa fa-solid fa-house-user"></i></span>Home</a></li>
            <li><a href="/project"><span><i class="fa fa-solid fa-list-check"></i></span>Projects</a></li>
            <li><a href=""><span><i class="fa fa-solid fa-face-grin-stars"></i></span>Co-Workers</a></li>
            <li><a href="/department"><span><i class="fa fa-solid fa-list-check"></i></span>Department</a></li>
        </ul>
        <div class="user-info">
            <p>
                welcome user
            </p>
        </div>
    </nav>
</header>